<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <title>LibrarEasy Votre bibliothèque</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<div class="row jumbotron">
				<div class="col"> 
					<h1>Bienvenue dans votre bibliothèque</h1>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<h2>Etat des prêts</h2>
				</div>
			</div>
			
			<div class="row">
				<div class="col">
					<p th:text="'Vous êtes connecté en tant que : '+${principal}"></p>
				</div>
			</div>
			<!--  Prêts en cours -->
			<div class="row">
				<div class="col">
					<h3 >Liste des prêts en cours</h3>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div th:if="${#lists.isEmpty(currentBorrowEntities)}">Aucun prêt en cours</div>
		   			<div th:unless="${#lists.isEmpty(currentBorrowEntities)}">		
						<table class="table table-hover table-sm table-bordered">
			      			<tr>
			        			<th>Date d'emprunt</th>
			        			<th>Date de fin de prêt</th>
			        			<th>Titre</th>
			        			<th>Nom de l'Auteur</th>
			        			<th>Prénom de l'auteur</th>
			        			<th>Type</th>
			        			<th>Editeur</th>
			        			
			     			</tr>
						    <tr th:each="borrow:${currentBorrowEntities}">
						    	<td th:text="${#dates.format(borrow.startDate,'dd-MM-yyyy')}"></td>
						        <td th:text="${#dates.format(borrow.endDate,'dd-MM-yyyy')}"></td>
						        <td th:text="${borrow.copyEntity.bookEntity.bookTitle }"></td>
						        <td th:text="${borrow.copyEntity.bookEntity.authorEntity.authorLastName}"></td>
						        <td th:text="${borrow.copyEntity.bookEntity.authorEntity.authorFirstName}"></td>
						        <td th:text="${borrow.copyEntity.bookEntity.bookType}"></td>
						        <td th:text="${borrow.copyEntity.bookEntity.editor}"></td>
						        <td th:if="${borrow.isExtended==false}">
						        	<a th:href="@{/borrow/extendBorrow/{borrowId}(borrowId=${borrow.borrowId})}">Prolonger</a>
						        </td>
						     </tr>
			    		</table>
			    	</div>	
		    	</div>
		    </div>	
		    
		    <!--  Historique des prêts -->
		    <div class="row">
		    	<div class="col">
					<h3>Historique des prêts</h3>
				</div>
			</div>
		    <div class="row">
		   		<div class="col">
		   			<div th:if="${#lists.isEmpty(oldBorrowEntities)}">Aucun prêt dans l'historique</div>
		   			<div th:unless="${#lists.isEmpty(oldBorrowEntities)}">
		   				<table class="table table-hover table-sm table-bordered">
			      			<tr>
			        			<th>Date d'emprunt</th>
			        			<th>Date de fin de prêt</th>
			        			<th>Titre</th>
			        			<th>Nom de l'Auteur</th>
			        			<th>Prénom de l'auteur</th>
			        			<th>Type</th>
			        			<th>Editeur</th>
			     			</tr>
							 <tr th:each="borrow:${oldBorrowEntities}">	
							 	<td th:text="${#dates.format(borrow.startDate,'dd-MM-yyyy')}"></td>
							    <td th:text="${#dates.format(borrow.endDate,'dd-MM-yyyy')}"></td>
							    <td th:text="${borrow.copyEntity.bookEntity.bookTitle }"></td>
							    <td th:text="${borrow.copyEntity.bookEntity.authorEntity.authorLastName}"></td>
							    <td th:text="${borrow.copyEntity.bookEntity.authorEntity.authorFirstName}"></td>
							    <td th:text="${borrow.copyEntity.bookEntity.bookType}"></td>
							    <td th:text="${borrow.copyEntity.bookEntity.editor}"></td>
							 </tr>
			    		</table>
		   			</div>
		   		</div>
		   	</div>		
		</div>
	
	
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>	
	
	</body>
</html>